<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/full-slider.css" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/jquery.min.js"></script>    
    <script src="/javascripts/bootstrap.bundle.min.js"></script>    
    <script src="/javascripts/client.js"></script>    
  </body>
</html>
