<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Zero UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/results" class="text-white"><span class="badge p-2">Summary</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="summary-header px-3 py-3 pt-md-5 pb-md-4 mx-auto mt-5 mt-md-3 text-center">
  <h1 class="display-4">Summary</h1>
  <p class="lead">Brain waves <span id="user" class="d-none"></span> <span id="location" class="d-none"></span> are detailed below: </p>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col-md-12 p-0">
      <div class="card">
        <div class="card-body">
          <canvas id="chLine" height="100"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Buddha</h4>
        </div>
        <div class="card-body p-0">
          <img class="w-100" srcset="./images/buddha.jpg" src="./images/buddha.jpg" />
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Landscape</h4>
        </div>
        <div class="card-body p-0">
          <img class="w-100" srcset="./images/landscape.jpg" src="./images/landscape.jpg" />
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Meditation</h4>
        </div>
        <div class="card-body p-0">
          <img class="w-100" srcset="./images/meditation.jpg" src="./images/meditation.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>