<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Zero UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/results" class="text-white ml-3"><span class="badge p-2">Summary</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Summary</h1>
  <p class="lead">Data gathered plots attention and blink plots for the three slides users viewed</p>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Buddha</h4>
      </div>
      <div class="card-body p-0">
        <img class="w-100" srcset="./images/buddha.jpg" src="./images/buddha.jpg" />
        <div class="text-center">
          <span class="buddha-chart" id="blink" data-percent="45"><span class="percent"></span></span>
          <span class="buddha-chart" id="attention" data-percent="56"><span class="percent"></span></span>
          <script>
            $(function () {
              $('.buddha-chart#blink').easyPieChart({
                barColor: "#4caf50",
                onStep: function (from, to, percent) {
                  $(this.el).find('.percent').text(Math.round(percent));
                }
              });
            });
            $(function () {
              $('.buddha-chart#attention').easyPieChart({
                barColor: "blue",
                onStep: function (from, to, percent) {
                  $(this.el).find('.percent').text(Math.round(percent));
                }
              });
            });
          </script>
        </div>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Landscape</h4>
      </div>
      <div class="card-body p-0">
        <img class="w-100" srcset="./images/landscape.jpg" src="./images/landscape.jpg" />
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Meditation</h4>
      </div>
      <div class="card-body p-0">
        <img class="w-100" srcset="./images/meditation.jpg" src="./images/meditation.jpg" />
      </div>
    </div>
  </div>
</div>